body {
    font-family: Roboto, sans-serif;
    background-color: #f1f0e8;
    margin: 0;
    padding: 20px;
  }
  
  /* Címek stílusa */
  h1 {
    color: #89a8b2;
    text-align: center;
  }
  
  /* Alap linkek stílusa */
  a {
    text-decoration: none;
    color: #89a8b2;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Táblázatok alapstílusa */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #e5e1da;
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #f1f0e8;
  }
  
  /* Gombok alapstílusa */
  button {
    background-color: #89a8b2;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
    margin-right: 20px;
  }
  
  button:hover {
    background-color: #b3c8cf;
  }